name: Cleanup PR
on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  cleanup:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Delete db and destroy worker
        env:
            PR_NUMBER: pr-${{ github.event.number }}
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      - run: bun install && PR_NUMBER=$PR_NUMBER sh .github/workflows/cleanup-pr-script.sh
        
